<header class="header">
  <div class="left">
    <img class="logo-icon" src="assets/icons/logo.svg">
  </div>
  <div class="center">
    <mat-form-field class="form-field">
      <mat-label>Find a product</mat-label>
      <input matInput type="text">
      <button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="right">
    <button (click)="logout()" class="logout" mat-raised-button>
      Logout
      <img class="logout-icon" src="assets/icons/logout.svg">
    </button>
  </div>
</header>
